{% assign education = site.data.data.education %}
{% if education %}
<section class="education">
    <h2 class="title">Education</h2>
    {% for ed in education %}
        <div class="education-item">
            <div class="degree">{
                {ed.degree}}
            </div>
            <div class="university">
                {{ed.university}}
                <span class="time">{{ed.time}}</span>
            </div>
            <div class="details">{{ed.details}}</div>
        </div>
    {% endfor %}
</section>
{% endif %}


{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">{{exp.details}}</div>
            <p class="technologies">Technologies Used: {{exp.technologies_used}}</p>
        </div>
       
    {% endfor %}
</section>
{% endif %}
