{% assign presentation = site.data.data.presentation %}
{% if presentation %}
<section class="presentation">
    <h2 class="title">Presentation</h2>
    <div class="presentation-items">
        {% for prs in presentation%}
            <div class="presentation-item">
                <div class="presentation-title">
                    <a href="{{prs.link}}">{{prs.title}}</a>
                </div>
                <div class="authors">{{prs.authors}}</div>
                <div class="conference">{{prs.conference}}</div>   
            </div>
        {%endfor%}
    </div>
</section>
{% endif %}
